<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Müşteri Siparişleri</title>
</head>
<body>
<h1>Müşteri Siparişleri</h1>


<p th:if="${message}" th:text="${message}"></p>


<table border="1">
    <thead>
    <tr>
        <th>Sipariş Numarası</th>
        <th>Toplam Fiyat</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td><a th:href="@{/order/{orderId}(orderId=${order.id})}">Detay</a></td>
    </tr>
    </tbody>
</table>


<a th:href="@{/list-customers}">Yeni Sipariş Ver</a>

</body>
</html>
